body {
  background-color: black;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.excaliburjs-game-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  max-width: 900px;
  max-height: 1600px;
  box-sizing: border-box;
}

.snippet-resizer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.snippet-resizer > .snippet-resized {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

canvas {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: white 2px solid;
  box-sizing: border-box;
}

@media (max-aspect-ratio: 9/16) {
  .excaliburjs-game-container {
    width: calc(100vw - 2px);
    height: calc(177.78vw - 2px); /* 16:9 aspect ratio */
    max-height: calc(100vh - 2px);
  }
}

@media (min-aspect-ratio: 9/16) {
  .excaliburjs-game-container {
    width: calc(56.25vh - 2px); /* 9:16 aspect ratio */
    height: calc(100vh - 2px);
    max-width: calc(100vw - 2px);
  }
}
